/.idea
/.vscode
/vendor
*.iml
.DS_Store
debug

development/*
!development/fresh.conf
!development/Dockerfile
!development/docker-compose.yml
!development/test
development/test/*
!development/test/Caddyfile
!development/test/docker-compose.yml

/tmp/
node_modules
