/.idea
/.vscode
/vendor
*.iml
.DS_Store
debug

# for development
development/*
!development/Makefile
!development/.env.example
!development/test

development/test/*
!development/test/Caddyfile
!development/test/docker-compose.yml

_development/*

tmp
node_modules
