/.idea
/.vscode
/vendor
*.iml
.DS_Store
debug

# for development
development/*
!development/Makefile
!development/fresh.conf
!development/Dockerfile
!development/docker-compose.yml
!development/.env.example
!development/test

development/test/*
!development/test/Caddyfile
!development/test/docker-compose.yml

/tmp/
node_modules
