version: "3"

services:
  app:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: knoq_app
    environment:
      TZ: Asia/Tokyo
      MARIADB_USERNAME: root
      MARIADB_PASSWORD: password
      MARIADB_HOSTNAME: db
      MARIADB_DATABASE: knoQ
      ORIGIN: http://localhost:3000
      SESSION_KEY: ${SESSION_KEY:-random32wordsXXXXXXXXXXXXXXXXXXX}
      TRAQ_CALENDARID: ${TRAQ_CALENDARID}
      CLIENT_ID: ${CLIENT_ID:-d1hDlIRNfCBerXdZkH1VR8lJwCBpIuMgiv42}
      CHANNEL_ID: ${CHANNEL_ID}
      DAILY_CHANNEL_ID: ${DAILY_CHANNEL_ID}
      ACTIVITY_CHANNEL_ID: ${ACTIVITY_CHANNEL_ID}
      TOKEN_KEY: ${TOKEN_KEY:-random32wordsXXXXXXXXXXXXXXXXXXX}
      KNOQ_VERSION: ${KNOQ_VERSION:-dev}
      TRAQ_BOT_TOKEN: ${TRAQ_BOT_TOKEN}
      DEVELOPMENT: true
      GORM_LOG_LEVEL: info
    ports:
      - "${APP_PORT:-3000}:3000"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mariadb:10.6.4
    container_name: knoq_db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: knoQ
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci
    volumes:
      - "./_development/mariadb:/var/lib/mysql"
    expose:
      - "3306"
    healthcheck:
      test: mysql --user=root --password=password --execute "SHOW DATABASES;"
      interval: 1s
      timeout: 10s
      retries: 60

  adminer:
    image: adminer
    container_name: knoq_adminer
    ports:
      - "8000:8080"
    depends_on:
      db:
        condition: service_healthy
