openapi: "3.0.2"

info:
  title: traP Room
  description: |
    This is a sample Room server.
  version: 1.0.0

servers:
  - url: http://develop.room.sysad.trap.show/api/
    description: Development server

tags:
  - name: rooms
    description: traPが借りている講義室
  - name: events
    description: 予約
  - name: groups
    description: グループの情報
  - name: users
    description: ユーザー
  - name: tags
    description: タグ

paths:
  /rooms:
    post:
      tags:
        - rooms
      summary: traPで確保した部屋の情報追加 (使わない)
      description: 管理者権限が必要
      operationId: addrooms
      requestBody:
        description: 確保した部屋の情報
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                place:
                  type: string
                  example: S516
                date:
                  type: string
                  example: "2019-08-08"
                time_start:
                  type: string
                  example: "09:00"
                time_end:
                  type: string
                  example: "20:00"
      responses:
        201:
          $ref: "#/components/responses/PostRoom"
        400:
          description: Bad Request
        403:
          description: Forbidden
    get:
      tags:
        - rooms
      summary: traPで確保した進捗部屋の情報を取得
      operationId: getrooms
      parameters:
        - name: date_begin
          in: query
          description: 特定の日から。(2017-07-21とか)
          required: false
          schema:
            type: string
            format: date
            example: "2017-07-21"
        - name: date_end
          in: query
          description: 特定の日まで。(2017-07-21とか)
          required: false
          schema:
            type: string
            format: date
            example: "2017-07-21"
      responses:
        200:
          $ref: "#/components/responses/GetRoomArray"

  /rooms/{roomID}:
    get:
      tags:
        - rooms
      description: 一件取得する
      operationId: getroom
      parameters:
        - name: roomID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          $ref: "#/components/responses/GetRoom"
    delete:
      tags:
        - rooms
      summary: traPで確保した部屋の情報を削除
      description: 管理者権限が必要
        (関連する予約を削除する)
        エラーを出して削除を促す予定
      operationId: deleterooms
      parameters:
        - name: roomID
          in: path
          description: 削除する部屋のID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: successful operation
        403:
          description: Forbidden
        400:
          description: Bad Request
  /rooms/all:
    post:
      tags:
        - rooms
      summary: traPで確保した部屋の情報追加
      description: 管理者権限が必要。
        Googleカレンダーから今日から100件取得する
      operationId: addAllrooms
      responses:
        201:
          $ref: "#/components/responses/PostRoomArray"
        403:
          description: Forbidden

  /events:
    get:
      tags:
        - events
      summary: 使用宣言の情報を取得
      operationId: getevents
      parameters:
        - name: name
          in: query
          description: 名前で検索
          required: false
          schema:
            type: string
        - name: groupID
          in: query
          description: 特定のグループのみにする。
          required: false
          schema:
            type: string
            format: uuid
        - name: roomID
          in: query
          description: 特定の部屋のみにする。
          required: false
          schema:
            type: string
            format: uuid
        - name: date_begin
          in: query
          description: 特定の日からのみにする。(2017-07-21とか)
          required: false
          schema:
            type: string
            format: date
        - name: date_end
          in: query
          description: 特定の日までのみにする。(2017-07-21とか)
          required: false
          schema:
            type: string
            format: date
      responses:
        200:
          $ref: "#/components/responses/eventArray"
    post:
      tags:
        - events
      summary: 部屋の使用宣言を行う
      operationId: addevents
      requestBody:
        $ref: "#/components/requestBodies/PostEvent"
      responses:
        201:
          $ref: "#/components/responses/event"
        403:
          description: Forbidden
        400:
          description: Bad Request
  /events/{eventID}:
    get:
      tags:
        - events
      summary: 一件取得
      operationId: getevent
      parameters:
        - name: eventID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          $ref: "#/components/responses/event"
    put:
      tags:
        - events
      summary: 部屋の使用宣言を更新
      description: 作成者のみ
      operationId: updateevents
      parameters:
        - name: eventID
          in: path
          description: 変更する情報のID
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: "#/components/requestBodies/PutEvent"
      responses:
        200:
          $ref: "#/components/responses/event"
        403:
          description: Forbidden
        400:
          description: Bad Request
    delete:
      tags:
        - events
      summary: 使用宣言を削除
      description: 作成者のみ
      operationId: deleteRevents
      parameters:
        - name: eventID
          in: path
          description: 削除する情報のID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: successful operation
        403:
          description: Forbidden
        404:
          description: Not Found
  /events/{eventID}/tags:
    post:
      tags:
        - events
      summary: タグを追加
      parameters:
        - name: eventID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: "#/components/requestBodies/tag"
      responses:
        200:
          $ref: "#/components/responses/event"
  /events/{eventID}/tags/{tagID}:
    delete:
      tags:
        - events
      summary: タグを削除
      description: locked=falseだけ
      parameters:
        - name: eventID
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: tagID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          $ref: "#/components/responses/event"

  /users/me/events:
    get:
      tags:
        - events
      responses:
        200:
          $ref: "#/components/responses/eventArray"

  /groups:
    get:
      tags:
        - groups
      summary: グループを全て取得
      description: ログインユーザーなら所属していなくても取得可能にしておく
      operationId: getGroup
      responses:
        200:
          $ref: "#/components/responses/groupArray"
        400:
          description: Bad Request
    post:
      tags:
        - groups
      summary: Create group
      operationId: createGroup
      requestBody:
        $ref: "#/components/requestBodies/group"
      responses:
        201:
          $ref: "#/components/responses/group"
        400:
          description: Bad Request

  /groups/{groupID}:
    get:
      tags:
        - groups
      summary: 一件取得
      operationId: getgroup
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          $ref: "#/components/responses/group"
    put:
      tags:
        - groups
      description: 作成者のみ変更可能
      operationId: updateGroup
      parameters:
        - name: groupID
          in: path
          description: 変更する情報のID
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        $ref: "#/components/requestBodies/group"
      responses:
        200:
          $ref: "#/components/responses/group"
        400:
          description: Bad Request
        403:
          description: Forbidden
    delete:
      tags:
        - groups
      summary: Delete group
      description:
        管理者権限が必要(削除せずとも放置すれば問題無いということにしておく)
        削除されたgroupの予約
      operationId: deleteGroup
      parameters:
        - name: groupID
          in: path
          description: The id that needs to be deleted
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: successful operation
        403:
          description: Forbidden
        404:
          description: Groupid not found
  /groups/{groupID}/members/me:
    post:
      tags:
        - groups
      summary: 自分を追加。join_freely=true
      description: Headerを見て、メンバーを追加する
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          $ref: "#/components/responses/group"
    delete:
      tags:
        - groups
      summary: 自分しか削除出来ない。join_freely=true
      parameters:
        - name: groupID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          $ref: "#/components/responses/group"

  /users/me/groups:
    get:
      tags:
        - groups
      responses:
        200:
          $ref: "#/components/responses/UUIDArray"
  /users/{userID}/groups:
    get:
      parameters:
        - name: userID
          in: path
          required: true
          schema:
            type: string
            format: uuid
      tags:
        - groups
      responses:
        200:
          $ref: "#/components/responses/UUIDArray"

  /users/me:
    get:
      tags:
        - users
      summary: クライアントの権限を取得
      description: クライアントを識別するために最初に呼ばれる
      responses:
        200:
          $ref: "#/components/responses/user"
  /tags:
    get:
      tags:
        - tags
      summary: タグを全て取得
      operationId: getTag
      responses:
        200:
          $ref: "#/components/responses/tagArray"
        400:
          description: Bad Request
    post:
      tags:
        - tags
      summary: タグを作成。
      description: すでにある場合は、error
      operationId: postTag
      requestBody:
        $ref: "#/components/requestBodies/tag"
      responses:
        201:
          $ref: "#/components/responses/tag"

components:
  schemas:
    UUIDs:
      type: array
      description: UUIDの配列
      items:
        type: string
        format: uuid

    Room:
      type: object
      required:
        - place
        - date
      properties:
        id:
          type: string
          format: uuid
          example: "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
        place:
          type: string
          example: S516
        date:
          type: string
          format: date
          example: "2019-08-08"
        time_start:
          type: string
          format: time
          example: "09:00:00"
        time_end:
          type: string
          format: time
          example: "20:00:00"
        available_time:
          type: array
          items:
            type: object
            properties:
              time_start:
                type: string
                format: time
                example: "09:00:00"
              time_end:
                type: string
                format: time
                example: "20:00:00"
        created_at:
          type: string
          example: "2019-11-02T15:24:42.5438806Z"
        updated_at:
          type: string
          example: "2019-11-02T15:24:42.5438806Z"

    event:
      type: object
      properties:
        name:
          type: string
          example: 第n回進捗回
        descirption:
          type: string
          example: 第n回の進捗会です。
        allow_together:
          type: boolean
          example: false
        time_start:
          type: string
          example: "18:00"
        time_end:
          type: string
          example: "20:00"
        room_id:
          type: string
          format: uuid
          example: "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
        group_id:
          type: string
          format: uuid
          example: "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
    PutEvent:
      allOf:
        - $ref: "#/components/schemas/event"
      properties:
        tags:
          type: array
          items:
            $ref: "#/components/schemas/ReqTagIDAuth"
    PostEvent:
      allOf:
        - $ref: "#/components/schemas/PutEvent"
      properties:
        tags:
          type: array
          items:
            $ref: "#/components/schemas/ReqTagIDAuth"

    ResponseEvent:
      allOf:
        - type: object
          properties:
            id:
              type: string
              format: uuid
              example: "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
        - $ref: "#/components/schemas/event"
        - type: object
          properties:
            tags:
              type: array
              items:
                $ref: "#/components/schemas/ResponseTag"
            created_by:
              type: string
              example: "fuji"
            created_at:
              type: string
              example: "2019-11-02T15:24:42.5438806Z"
            updated_at:
              type: string
              example: "2019-11-02T15:24:42.5438806Z"

    RequestGroup:
      type: object
      properties:
        name:
          type: string
          example: room
        description:
          type: string
          example: Sysad班room開発グループ
        join_freely:
          type: boolean
          example: false
        members:
          $ref: "#/components/schemas/UUIDs"
    ResponseGroup:
      properties:
        id:
          type: string
          format: uuid
          example: "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
        name:
          type: string
          example: room
        description:
          type: string
          example: Sysad班room開発グループ
        join_freely:
          type: boolean
          example: false
        members:
          $ref: "#/components/schemas/UUIDs"
        created_by:
          type: string
          example: "fuji"
        created_at:
          type: string
          example: "2019-11-02T15:24:42.5438806Z"
        updated_at:
          type: string
          example: "2019-11-02T15:24:42.5438806Z"

    user:
      allOf:
        - $ref: "#/components/schemas/resUser"
      properties:
        admin:
          type: boolean
          example: true
    resUser:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"

    tag:
      type: object
      properties:
        name:
          type: string
          example: Vue
    ReqTagID:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
    ReqTagName:
      type: object
      properties:
        name:
          type: string
          example: Vue
    ReqTagIDAuth:
      allOf:
        - $ref: "#/components/schemas/ReqTagID"
      properties:
        locked:
          type: boolean
          example: true
    ResTag:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
        name:
          type: string
          example: vue
        official:
          type: boolean
          example: true
    ResponseTag:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
        locked:
          type: boolean
          example: true

  requestBodies:
    PutEvent:
      description: 予約の編集
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PutEvent"
    PostEvent:
      description: 予約の追加
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PostEvent"
    group:
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/RequestGroup"

    tag:
      description: タグ本体の作成。
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ReqTagName"
    stringArray:
      description: タグで検索
      required: true
      content:
        application/json:
          schema:
            type: array
            items:
              type: string
              example: "vue"

  responses:
    UUIDArray:
      description: successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UUIDs"

    PostRoom:
      description: successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Room"
    PostRoomArray:
      description: successful operation
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Room"
    GetRoom:
      description: successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Room"

    GetRoomArray:
      description: successful operation
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/Room"

    event:
      description: successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResponseEvent"
    eventArray:
      description: successful operation
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ResponseEvent"
    group:
      description: successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResponseGroup"
    groupArray:
      description: successful operation
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ResponseGroup"
    user:
      description: successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/user"
    tag:
      description: successful operation
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ResTag"
    tagArray:
      description: successful operation
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: "#/components/schemas/ResTag"

externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
